@model Capstone.Models.Eventi

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/StylePreferiti.css" rel="stylesheet" />
<h2>Details</h2>

<div class="con-like">
  
    <input title="like" type="checkbox" class="like">
    <div class="checkmark">
        <svg viewBox="0 0 24 24" class="outline" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z"></path>
        </svg>
        <svg viewBox="0 0 24 24" class="filled" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z"></path>
        </svg>
        <svg class="celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
            <polygon points="10,10 20,20" class="poly"></polygon>
            <polygon points="10,50 20,50" class="poly"></polygon>
            <polygon points="20,80 30,70" class="poly"></polygon>
            <polygon points="90,10 80,20" class="poly"></polygon>
            <polygon points="90,50 80,50" class="poly"></polygon>
            <polygon points="80,80 70,70" class="poly"></polygon>
        </svg>
    </div>
</div>
<div>
    <h4>Eventi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorie.NomeCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.NomeCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoCopertina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FotoCopertina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEvento)
        </dd>

    </dl>
</div>
@if (Model.Prezzo >= 1 && User.IsInRole("User"))
{
    <p>
        <strong>Quantità: </strong> <input type="number" name="Quantità" value="" id="quantità" />
        <br />
        <button type="submit" class="btn btn-primary mx-auto mt-2" id="Button">Aggiungi all'ordine'</button>
    </p>
}


<div id="MessaggioErrore">
    <strong class="text-red">Inserire una quantità valida</strong>
</div>


<h2 class="text-center">Recensioni</h2>
@if (User.IsInRole("User") || User.IsInRole("Admin") || User.IsInRole("Azienda"))
{
    foreach (Capstone.Models.Recensioni r in ViewBag.Recensioni)
    {
        <div class="bg-secondary p-3 m-2 rounded-3">
            <div class="d-flex">
                <img style="width: 10%; height:10%;" class="rounded-5" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Alternate Text" />
                <p>@r.Utenti.Username</p>
            </div>
            <div class=" bg-white bg-opacity-50 rounded-3">
                <p>@r.Descrizione</p>

            </div>

            @if (r.Voto == 1)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>

            }
            else if (r.Voto == 2)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            }
            else if (r.Voto == 3)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>

            }
            else if (r.Voto == 4)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            }
            else if (r.Voto == 5)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            }


            @if (Session["Utente"] != null && r.IdUtente == (int)Session["Utente"])
            {
                <a href="/recensioni/Edit/@r.IdRecensione">Modifica</a>
            }



        </div>

    }
    foreach (Capstone.Models.Recensioni r in ViewBag.RecensioniUtente)
    {
        <div class="bg-secondary p-3 m-2 rounded-3">
            <div class="d-flex">
                <img style="width: 10%; height:10%;" class="rounded-5" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Alternate Text" />
                <p>@r.Utenti.Username</p>
            </div>
            <div class=" bg-white bg-opacity-50 rounded-3">
                <p>@r.Descrizione</p>

            </div>

            @if (r.Voto == 1)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>

            }
            else if (r.Voto == 2)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            }
            else if (r.Voto == 3)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>

            }
            else if (r.Voto == 4)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            }
            else if (r.Voto == 5)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            }


            @if (Session["Utente"] != null && r.IdUtente == (int)Session["Utente"])
            {
                <a href="/recensioni/Edit/@r.IdRecensione">Modifica</a>
            }



        </div>

    }
}
else
{
    foreach (Capstone.Models.Recensioni r in Model.Recensioni)
    {
        <div class="bg-secondary p-3 m-2 rounded-3">
            <div class="d-flex">
                <img style="width: 10%; height:10%;" class="rounded-5" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Alternate Text" />
                <p>@r.Utenti.Username</p>
            </div>
            <div class=" bg-white bg-opacity-50 rounded-3">
                <p>@r.Descrizione</p>

            </div>

            @if (r.Voto == 1)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>

            }
            else if (r.Voto == 2)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            }
            else if (r.Voto == 3)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>

            }
            else if (r.Voto == 4)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            }
            else if (r.Voto == 5)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            }

        </div>

    }
}


@if (User.IsInRole("Admin") || User.IsInRole("Azienda"))
{
    @Html.ActionLink("Back to List", "Index")
}
else
{
    @Html.ActionLink("Back to List", "Index", "Home")
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#MessaggioErrore").hide()

            $("#Button").click(function () {
                console.log("Ordine", $("#quantità").val(),@Html.DisplayFor(model => model.IdEvento))
                var prodotto = {
                Quantità: $("#quantità").val(), Prodotto: @Html.DisplayFor(model => model.IdEvento) }


                $.ajax({
                    method: "POST",
                    url: "/Ordini/AggiungiOrdine",
                    data: { Quantità: prodotto.Quantità, IdEvento: prodotto.Prodotto },
                    success: function (data) {
                        console.log(data)

                    }
                });
                if ($("#quantità").val() <= 1) {
                    $("#MessaggioErrore").show()
                }
                if ($("#quantità").val() >= 1) {
                    $("#MessaggioErrore").hide()
                }
            })

            $(".con-like").click(function () {
                console.log("Click heart");
                $.ajax({
                    method: "POST",
                    url: "/Home/AddPreferiti",
                    data: { IdEvento:@Html.DisplayFor(model => model.IdEvento) }
                })

            })
        })

    </script>
}
