@model Capstone.Models.Eventi

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/StylePreferiti.css" rel="stylesheet" />
<h2>Details</h2>
@if (User.IsInRole("User")){
if (ViewBag.Preferiti == null)
{
<i class="fa-regular fa-heart con-like"></i>
<i class="fa-solid fa-heart con-like3"></i>
}

else
{
<i class="fa-solid fa-heart con-like2"></i>
<i class="fa-regular fa-heart con-like4"></i>

}
            }




<div>
    <h4>Eventi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorie.NomeCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.NomeCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoCopertina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FotoCopertina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEvento)
        </dd>

    </dl>
</div>
@if (Model.Prezzo >= 1 && User.IsInRole("User"))
{
    <p>
        <strong>Quantità: </strong> <input type="number" name="Quantità" value="" id="quantità" />
        <br />
        <button type="submit" class="btn btn-primary mx-auto mt-2" id="Button">Aggiungi all'ordine'</button>
    </p>
}


<div id="MessaggioErrore">
    <strong class="text-red">Inserire una quantità valida</strong>
</div>


<h2 class="text-center">Recensioni</h2>
@if (User.IsInRole("User") || User.IsInRole("Admin") || User.IsInRole("Azienda")&& ViewBag.Recensioni!=null&& ViewBag.RecensioniUtente!=null)
{
    foreach (Capstone.Models.Recensioni r in ViewBag.Recensioni)
    {
        <div class="bg-secondary p-3 m-2 rounded-3">
            <div class="d-flex">
                <img style="width: 10%; height:10%;" class="rounded-5" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Alternate Text" />
                <p>@r.Utenti.Username</p>
            </div>
            <div class=" bg-white bg-opacity-50 rounded-3">
                <p>@r.Descrizione</p>

            </div>

            @if (r.Voto == 1)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>

            }
            else if (r.Voto == 2)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            }
            else if (r.Voto == 3)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>

            }
            else if (r.Voto == 4)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            }
            else if (r.Voto == 5)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            }


            @if (Session["Utente"] != null && r.IdUtente == (int)Session["Utente"])
            {
                <a href="/recensioni/Edit/@r.IdRecensione">Modifica</a>
            }



        </div>

    }
    foreach (Capstone.Models.Recensioni r in ViewBag.RecensioniUtente)
    {
        <div class="bg-secondary p-3 m-2 rounded-3">
            <div class="d-flex">
                <img style="width: 10%; height:10%;" class="rounded-5" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Alternate Text" />
                <p>@r.Utenti.Username</p>
            </div>
            <div class=" bg-white bg-opacity-50 rounded-3">
                <p>@r.Descrizione</p>

            </div>

            @if (r.Voto == 1)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>

            }
            else if (r.Voto == 2)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            }
            else if (r.Voto == 3)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>

            }
            else if (r.Voto == 4)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            }
            else if (r.Voto == 5)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            }


            @if (Session["Utente"] != null && r.IdUtente == (int)Session["Utente"])
            {
                <a href="/recensioni/Edit/@r.IdRecensione">Modifica</a>
            }



        </div>

    }
}
else
{
    foreach (Capstone.Models.Recensioni r in Model.Recensioni)
    {
        <div class="bg-secondary p-3 m-2 rounded-3">
            <div class="d-flex">
                <img style="width: 10%; height:10%;" class="rounded-5" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Alternate Text" />
                <p>@r.Utenti.Username</p>
            </div>
            <div class=" bg-white bg-opacity-50 rounded-3">
                <p>@r.Descrizione</p>

            </div>

            @if (r.Voto == 1)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>

            }
            else if (r.Voto == 2)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            }
            else if (r.Voto == 3)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>

            }
            else if (r.Voto == 4)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            }
            else if (r.Voto == 5)
            {
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            }

        </div>

    }
}


@if (User.IsInRole("Admin") || User.IsInRole("Azienda"))
{
    @Html.ActionLink("Back to List", "Index")
}
else
{
    @Html.ActionLink("Back to List", "Index", "Home")
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#MessaggioErrore").hide()


            $("#Button").click(function () {
                console.log("Ordine", $("#quantità").val(),@Html.DisplayFor(model => model.IdEvento))
                var prodotto = {
                Quantità: $("#quantità").val(), Prodotto: @Html.DisplayFor(model => model.IdEvento) }


                $.ajax({
                    method: "POST",
                    url: "/Ordini/AggiungiOrdine",
                    data: { Quantità: prodotto.Quantità, IdEvento: prodotto.Prodotto },
                    success: function (data) {
                        console.log(data)

                    }
                });
                if ($("#quantità").val() <= 1) {
                    $("#MessaggioErrore").show()
                }
                if ($("#quantità").val() >= 1) {
                    $("#MessaggioErrore").hide()
                }
            })
            $(".con-like3").hide();
            $(".con-like4").hide();

            $(".con-like").click(function () {
                console.log("Click heart");
                $(".con-like").hide();
                $(".con-like2").show();
                $(".con-like3").show();
                $.ajax({
                    method: "POST",
                    url: "/Home/AddPreferiti",
                    data: { IdEvento:@Html.DisplayFor(model => model.IdEvento) }
                })

            })
            $(".con-like2").click(function () {
                console.log("Click heart");
                $(".con-like").show();
                $(".con-like2").hide();
                $(".con-like4").show();
               $.ajax({
                method: "POST",
                url: "/Home/RemovePreferiti",
                data: { IdEvento:@Html.DisplayFor(model => model.IdEvento) }
               })

            })
            $(".con-like3").click(function () {
                console.log("Click heart");
                $(".con-like").show();
                $(".con-like3").hide();
                $.ajax({
                method: "POST",
                url: "/Home/RemovePreferiti",
                data: { IdEvento:@Html.DisplayFor(model => model.IdEvento) }
})
            })
            $(".con-like4").click(function () {
                $(".con-like2").show();
                $(".con-like4").hide();
                $.ajax({
                method: "POST",
                url: "/Home/AddPreferiti",
                 data: { IdEvento:@Html.DisplayFor(model => model.IdEvento) }
})
            })
        })

    </script>
}
