@model Capstone.Models.Eventi
<script src="~/Scripts/bootstrap.min.js"></script>
@{
    ViewBag.Title = "Details";
    var Tot5st = @ViewBag.Tot5st;
    var Tot4st = @ViewBag.Tot4st;
    var Tot3st = @ViewBag.Tot3st;
    var Tot2st = @ViewBag.Tot2st;
    var Tot1st = @ViewBag.Tot1st;


}
<link href="~/Content/StyleDettagliEventi.css" rel="stylesheet" />

<h2 id="Title" class="text-center" style=" color: orange; font-family: fantasy;">   @Html.DisplayFor(model => model.NomeEvento)</h2>


@* Dettagli *@
<div class="container border  border-2 border-dark rounded-4" style="background-color:lightgray">
    @* Preferiti *@
    @if (User.IsInRole("User"))
    {
        if (ViewBag.Preferiti == null)
        {
            <button type="button" style="background-color:lightgray" class=" border border-0 " data-bs-toggle="modal" data-bs-target="#exampleModal">
                <h3><i class="fa-regular fa-heart con-like text-danger"></i></h3>
            </button>
            <button type="button" style="background-color:lightgray" class=" border border-0 " data-bs-toggle="modal" data-bs-target="#exampleModal1">
                <h3><i class="fa-solid fa-heart con-like3 text-danger"></i></h3>
            </button>

        }

        else
        {
            <h3><i class="fa-solid fa-heart con-like2 text-danger"></i></h3>
            <h3><i class="fa-regular fa-heart con-like4 text-danger"></i></h3>
        }
    }

    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"  style="background-color:lightgray;">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class=" text-center">Articolo aggiunto ai preferiti</h4>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"  style="background-color:lightgray;">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel1"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class=" text-center">Articolo rimosso dai preferiti</h4>
                </div>

            </div>
        </div>
    </div>



    @* Img *@
    <div class="row border border-dark m-3  border-2 rounded-4 d-none d-md-flex justify-content-center" style="background-color: orange; box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75); -webkit-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75); -moz-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);">
        <div class="col-md-6 d-flex flex-column p-1 justify-content-center">
            <img src="/Content/Img/@Html.DisplayFor(model => model.FotoCopertina)" class="rounded-4" alt="FotoCopertina" />
        </div>
        @if (Model.Foto1 != "" && Model.Foto1 != null || Model.Foto2 != "" && Model.Foto2 != null || Model.Foto3 != "" && Model.Foto3 != null || Model.Foto4 != "" && Model.Foto4 != null)
        {
            <div class=" col-md-6 d-flex flex-column p-1 justify-content-center">
                <div class="d-flex">
                    @if (Model.Foto1 != "" && Model.Foto1 != null)
                    {
                        <img src="/Content/Img/@Html.DisplayFor(model => model.Foto1)" class="w-50 p-1 rounded-4 " alt="Foto aggiuntive" />
                    }

                    @if (Model.Foto2 != "" && Model.Foto2 != null)
                    {
                        <img src="/Content/Img/@Html.DisplayFor(model => model.Foto2)" class="w-50 p-1 rounded-4 " alt="Foto aggiuntive" />
                    }

                </div>
                <div class="d-flex">
                    @if (Model.Foto3 != "" && Model.Foto3 != null)
                    {
                        <img src="/Content/Img/@Html.DisplayFor(model => model.Foto3)" class="w-50 p-1 rounded-4 " alt="Foto aggiuntive" />
                    }
                    @if (Model.Foto4 != "" && Model.Foto4 != null)
                    {
                        <img src="/Content/Img/@Html.DisplayFor(model => model.Foto4)" class="w-50 p-1 rounded-4 " alt="Foto aggiuntive" />
                    }

                </div>
            </div>
        }

    </div>
    @* Carosello schermi piccoli *@

    <div id="carouselExample" class="carousel slide d-md-none p-3 rounded-3 mt-3">
        <div class="carousel-inner mb-2 mt-2">
            <div class="carousel-item active">
                <img src="/Content/Img/@Html.DisplayFor(model => model.FotoCopertina)" class="d-block w-100" alt="...">
            </div>
            @if (Model.Foto1 != "" && Model.Foto1 != null)
            {
                <div class="carousel-item">
                    <img src="/Content/Img/@Html.DisplayFor(model => model.Foto1)" class="d-block w-100" alt="...">
                </div>
            }
            @if (Model.Foto2 != "" && Model.Foto2 != null)
            {
                <div class="carousel-item">
                    <img src="/Content/Img/@Html.DisplayFor(model => model.Foto2)" class="d-block w-100" alt="...">
                </div>
            }
            @if (Model.Foto3 != "" && Model.Foto3 != null)
            {
                <div class="carousel-item">
                    <img src="/Content/Img/@Html.DisplayFor(model => model.Foto3)" class="d-block w-100" alt="...">
                </div>
            }
            @if (Model.Foto4 != "" && Model.Foto4 != null)
            {
                <div class="carousel-item">
                    <img src="/Content/Img/@Html.DisplayFor(model => model.Foto4)" class="d-block w-100" alt="...">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    @* text *@

    <div class="text-center">
        <h4 class="fw-bold" style="font-family:cursive;color:orange">Descrizione</h4>
        <p>@Html.DisplayFor(model => model.Descrizione)</p>
    </div>
    <div class="row w-100 p-4 d-flex justify-content-center">
        <div id="DivInformazioni" class=" border border-dark rounded-4 text-center ">

            <strong style="font-family:cursive;color:orange">Categoria</strong>
            <p>@Html.DisplayFor(model => model.Categorie.NomeCategoria) </p>
            <strong style="font-family:cursive;color:orange">Prezzo</strong>
            <p>@Html.DisplayFor(model => model.Prezzo) </p>
            <strong style="font-family:cursive;color:orange">Luogo</strong>
            <p>@Html.DisplayFor(model => model.Luogo)</p>
            <strong style="font-family:cursive;color:orange">Indirizzo</strong>
            <p>@Html.DisplayFor(model => model.Indirizzo)</p>
            <strong style="font-family:cursive;color:orange">Data inizio</strong>
            <p>@Html.DisplayFor(model => model.DataDa)</p>
            <strong style="font-family:cursive;color:orange">Data Fine</strong>
            <p>@Html.DisplayFor(model => model.DataEvento) </p>
        </div>


        @if (Model.Prezzo >= 1 && User.IsInRole("User"))
        {<div class="col-6 text-center d-flex flex-column justify-content-evenly">
                <div class="border border-dark p-3 mx-auto rounded-4" id="AddCart" style=" background-color: #fbcc9c; box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75); -webkit-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75); -moz-box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75); ">
                    <p class="m-3">
                        <h6 class="d-none d-md-block" style="font-family:cursive;color:orange">Inserisci una quantità: </h6>
                        <h6 class="d-md-none" style="font-family:cursive;color:orange"> Qt: </h6>
                        <input type="number" class="form-control w-50 d-flex mx-auto" name="Quantità" value="" id="quantità" />
                        <br />
                       
                        <button id="Button" type="button" class="btn mx-auto mt-2 m-2 d-none d-md-block" style="background-color:orange" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                            Aggiungi al carrello
                        </button>
                        <button id="Button1" type="button" class="d-md-none p-2 rounded-3" style="background-color:orange" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                            <i class="fa-solid fa-cart-shopping "></i>
                        </button>
                    </p>
                </div>
            </div>
        }
        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:lightgray;">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4 class="text-center">Evento aggiunto al carrello</h4>
                    </div>
                    <div class="modal-footer d-flex mx-auto">
                        <a href="/Ordini/Cart" class="btn btn " style="background-color:darkorange" >Vai al carrello</a>
                        <a href="/Home/Index" class="btn btn" style="background-color:darkorange">Continua con gli acquisti</a>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>


<div id="MessaggioErrore">
    <strong class="text-red">Inserire una quantità valida</strong>
</div>

@* Recensioni *@
@if (Session["Utente"] != null)
{
    if (Model.Recensioni.Count != 0)
    {
        if (User.IsInRole("User") || User.IsInRole("Admin") || User.IsInRole("Azienda"))
        {

            <h2 class="text-center mt-2"><i class="fa-solid fa-star text-warning"></i>@ViewBag.MediaRecensione- @ViewBag.CountRecensione Recensioni</h2>

            <div class=" d-flex flex-column mt-3 justify-content-center mx-auto">
                <div class="d-flex justify-content-center">
                    <p>5 stelle </p>
                    <div class=" ms-2" style="height:24px;width:50% ;background-color:lightgray">
                        <div class=" " style="height: 24px; width: @(Tot5st)%; background-color: orange"></div>
                    </div>
                    <p>@(Tot5st)%</p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>4 stelle </p>
                    <div class=" ms-2" style="height:24px;width:50% ;background-color:lightgray">
                        <div class=" " style="height: 24px; width:  @(Tot4st)%;background-color:orange"></div>
                    </div>
                    <p>@(Tot4st)%</p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>3 stelle </p>
                    <div class=" ms-2" style="height:24px;width:50% ;background-color:lightgray">
                        <div class=" " style="height: 24px; width:  @(Tot3st)%;background-color:orange"></div>
                    </div>
                    <p>@(Tot3st)%</p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>2 stelle </p>
                    <div class=" ms-2" style="height:24px;width:50% ;background-color:lightgray">
                        <div class=" " style="height: 24px; width: @(Tot2st)%;background-color:orange"></div>
                    </div>
                    <p>@(Tot2st)%</p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>1 stelle </p>
                    <div class=" ms-2" style="height:24px;width:50% ;background-color:lightgray">
                        <div class=" " style="height: 24px; width: @(Tot1st)%;background-color:orange"></div>
                    </div>
                    <p>@(Tot1st)%</p>
                </div>
            </div>

            <h4 class="text-center" style="font-family:cursive;color:orange">Le tue recensioni </h4>
            foreach (Capstone.Models.Recensioni r in ViewBag.Recensioni)
            {

                <div class=" text-center d-flex flex-column justify-content-center justify-content-center">
                    <div id="YourRecensioni" class="  d-flex flex-column justify-content-center p-3 m-2 ">
                        <div class="d-flex align-items-center justify-content-center">
                            <p>
                                <img style="width: 3%; height:10%;" class="rounded-5" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Alternate Text" />
                                <strong>@r.Utenti.Username</strong>
                            </p>
                        </div>
                        <div class=" bg-white bg-opacity-50 rounded-3 text-center w-50 mx-auto">
                            <p class="d-flex justify-content-center mx-auto">@r.Descrizione</p>
                        </div>

                        <div>
                            @if (r.Voto == 1)
                            {
                                <i class="fa-solid fa-star text-warning"></i>
                                <i class="fa-regular fa-star text-warning"></i>
                                <i class="fa-regular fa-star text-warning"></i>
                                <i class="fa-regular fa-star text-warning"></i>
                                <i class="fa-regular fa-star text-warning"></i>

                            }
                            else if (r.Voto == 2)
                            {
                                <i class="fa-solid fa-star text-warning"></i>
                                <i class="fa-solid fa-star text-warning"></i>
                                <i class="fa-regular fa-star text-warning"></i>
                                <i class="fa-regular fa-star text-warning"></i>
                                <i class="fa-regular fa-star text-warning"></i>
                            }
                            else if (r.Voto == 3)
                            {
                                <i class="fa-solid fa-star text-warning"></i>
                                <i class="fa-solid fa-star text-warning"></i>
                                <i class="fa-solid fa-star text-warning"></i>
                                <i class="fa-regular fa-star text-warning"></i>
                                <i class="fa-regular fa-star text-warning"></i>

                            }
                            else if (r.Voto == 4)
                            {
                                <i class="fa-solid fa-star text-warning"></i>
                                <i class="fa-solid fa-star text-warning"></i>
                                <i class="fa-solid fa-star text-warning"></i>
                                <i class="fa-solid fa-star text-warning"></i>
                                <i class="fa-regular fa-star text-warning"></i>
                            }
                            else if (r.Voto == 5)
                            {
                                <i class="fa-solid fa-star text-warning"></i>
                                <i class="fa-solid fa-star text-warning"></i>
                                <i class="fa-solid fa-star text-warning"></i>
                                <i class="fa-solid fa-star text-warning"></i>
                                <i class="fa-solid fa-star text-warning"></i>
                            }
                        </div>

                        @if (Session["Utente"] != null && r.IdUtente == (int)Session["Utente"])
                        {
                            <a class="text-warning" href="/recensioni/Edit/@r.IdRecensione">Modifica</a>
                        }


                    </div>
                </div>


            }


            <div class="container">

                <h4 class="text-center" style="font-family:cursive;color:orange">Recensioni di altri utenti </h4>
                <div class="row">
                    @if ( @ViewBag.RecensioniUtente == null)
        {
            <div>
                <h3>Ancora nessuna recensione presente </h3>
                <p>Sii il primo a scriverla</p>
                <a href="/recensioni/Create/@Model.IdEvento" class="btn">Scrivi una recensione</a>
            </div>

        }
                    @foreach (Capstone.Models.Recensioni r in ViewBag.RecensioniUtente)
                    {


                        <div class="col col-sm-12 col-md-6 text-center d-flex flex-column justify-content-center">
                            <div id="Recensioni" class="  d-flex flex-column justify-content-centerp-3 m-2 ">
                                <div class="d-flex align-items-center justify-content-center">
                                    <p>
                                        <img style="width: 3%; height:10%;" class="rounded-5" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Alternate Text" />
                                        <strong>@r.Utenti.Username</strong>
                                    </p>
                                </div>
                                <div class=" bg-white bg-opacity-50 rounded-3 text-center w-50 mx-auto">
                                    <p class="d-flex justify-content-center mx-auto">@r.Descrizione</p>
                                </div>

                                <div>
                                    @if (r.Voto == 1)
                                    {
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>

                                    }
                                    else if (r.Voto == 2)
                                    {
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                    }
                                    else if (r.Voto == 3)
                                    {
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>

                                    }
                                    else if (r.Voto == 4)
                                    {
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                    }
                                    else if (r.Voto == 5)
                                    {
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                    }
                                </div>

                                @if (Session["Utente"] != null && r.IdUtente == (int)Session["Utente"])
                                {
                                    <a href="/recensioni/Edit/@r.IdRecensione">Modifica</a>
                                }


                            </div>
                        </div>

                    }

                </div>


            </div>
        }
        else
        {

            <div class="container">

                <h4 class="text-center" style="font-family:cursive;color:orange">Recensioni di altri utenti </h4>
                <div class="row">
                    @foreach (Capstone.Models.Recensioni r in Model.Recensioni)
                    {
                        <div class="col col-sm-12 col-md-6 text-center mt-4 d-flex flex-column justify-content-center">
                            <div class="d-flex flex-column justify-content-centerp-3 m-2 ">
                                <div class="d-flex align-items-center justify-content-center">
                                    <p>
                                        <img style="width: 3%; height:10%;" class="rounded-5" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Alternate Text" />
                                        <strong>@r.Utenti.Username</strong>
                                    </p>
                                </div>
                                <div class=" bg-white bg-opacity-50 rounded-3 text-center w-50 mx-auto">
                                    <p class="d-flex justify-content-center mx-auto">@r.Descrizione</p>
                                </div>

                                <div>
                                    @if (r.Voto == 1)
                                    {
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>

                                    }
                                    else if (r.Voto == 2)
                                    {
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                    }
                                    else if (r.Voto == 3)
                                    {
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>

                                    }
                                    else if (r.Voto == 4)
                                    {
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-regular fa-star text-warning"></i>
                                    }
                                    else if (r.Voto == 5)
                                    {
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                        <i class="fa-solid fa-star text-warning"></i>
                                    }
                                </div>

                                @if (Session["Utente"] != null && r.IdUtente == (int)Session["Utente"])
                                {
                                    <a class="text-warning" href="/recensioni/Edit/@r.IdRecensione">Modifica</a>
                                }


                            </div>
                        </div>

                    }
                </div>


            </div>
        }
    }
}




@*@if (User.IsInRole("Admin") || User.IsInRole("Azienda"))
    {
        @Html.ActionLink("Back to List", "Index")
    }
    else
    {
        @Html.ActionLink("Back to List", "Index", "Home")
    }*@

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#MessaggioErrore").hide()


            $("#Button").click(function () {
                console.log("Ordine", $("#quantità").val(),@Html.DisplayFor(model => model.IdEvento))
                var prodotto = {
                Quantità: $("#quantità").val(), Prodotto: @Html.DisplayFor(model => model.IdEvento) }


                $.ajax({
                    method: "POST",
                    url: "/Ordini/AggiungiOrdine",
                    data: { Quantità: prodotto.Quantità, IdEvento: prodotto.Prodotto },
                    success: function (data) {
                        console.log(data)

                    }
                });
                if ($("#quantità").val() <= 1) {
                    $("#MessaggioErrore").show()
                }
                if ($("#quantità").val() >= 1) {
                    $("#MessaggioErrore").hide()
                }
            })
            $("#Button1").click(function () {
        console.log("Ordine", $("#quantità").val(),@Html.DisplayFor(model => model.IdEvento))
        var prodotto = {
        Quantità: $("#quantità").val(), Prodotto: @Html.DisplayFor(model => model.IdEvento) }


        $.ajax({
            method: "POST",
            url: "/Ordini/AggiungiOrdine",
            data: { Quantità: prodotto.Quantità, IdEvento: prodotto.Prodotto },
            success: function (data) {
                console.log(data)

            }
        });
        if ($("#quantità").val() <= 1) {
            $("#MessaggioErrore").show()
        }
        if ($("#quantità").val() >= 1) {
            $("#MessaggioErrore").hide()
        }
    })
            $(".con-like3").hide();
            $(".con-like4").hide();

            $(".con-like").click(function () {
                console.log("Click heart");
                $(".con-like").hide();
                $(".con-like2").show();
                $(".con-like3").show();
                $.ajax({
                    method: "POST",
                    url: "/Home/AddPreferiti",
                    data: { IdEvento:@Html.DisplayFor(model => model.IdEvento) }
                })

            })
            $(".con-like2").click(function () {
                console.log("Click heart");
                $(".con-like").show();
                $(".con-like2").hide();
                $(".con-like4").show();
               $.ajax({
                method: "POST",
                url: "/Home/RemovePreferiti",
                data: { IdEvento:@Html.DisplayFor(model => model.IdEvento) }
               })

            })
            $(".con-like3").click(function () {
                console.log("Click heart");
                $(".con-like").show();
                $(".con-like3").hide();
                $.ajax({
                method: "POST",
                url: "/Home/RemovePreferiti",
                data: { IdEvento:@Html.DisplayFor(model => model.IdEvento) }
})
            })
            $(".con-like4").click(function () {
                $(".con-like2").show();
                $(".con-like4").hide();
                $.ajax({
                method: "POST",
                url: "/Home/AddPreferiti",
                 data: { IdEvento:@Html.DisplayFor(model => model.IdEvento) }
})
            })
        })

    </script>
}
