@model IEnumerable<Capstone.Models.Eventi>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/StyleIndexAdmin.css" rel="stylesheet" />
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData["ErroreElimina"] != null)
{


<div>
        <h3 class="text-danger">Impossibile eliminare l'elemento perche non è ancora terminato e sono collegati degli ordini</h3>
    </div>
}
else if (TempData["Elimina"]!=null)
{
<div>
    <h3 class="text-danger">Elimina avvenuta con successo</h3>
</div>
            }
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Utenti.IdUtente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utenti.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorie.NomeCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeEvento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Luogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FotoCopertina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEvento)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Utenti.IdUtente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utenti.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.NomeCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoCopertina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEvento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdEvento }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdEvento }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdEvento })
            </td>
        </tr>
    }

</table>


