@model IEnumerable<Capstone.Models.Eventi>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/StyleIndexAdmin.css" rel="stylesheet" />
<h2 id="Title" class="text-center">Registro eventi</h2>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@if (TempData["ErroreElimina"] != null)
{


<div>
        <h3 class="text-danger">Impossibile eliminare l'elemento perche non è ancora terminato e sono collegati degli ordini</h3>
    </div>
}
else if (TempData["Elimina"]!=null)
{
<div>
    <h3 class="text-danger">Elimina avvenuta con successo</h3>
</div>
            }
<table class="table table-responsive table-bordered border-dark">
    <tr id="TitleTable" class="border-0">
        <th class="border border-dark">
            <a href="/Eventi/Create"><i class="fa-solid fa-plus"></i></a>
        </th>
    </tr>
    <tr id="TitleTable">

        <th class="Username">
            @Html.DisplayNameFor(model => model.Utenti.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorie.NomeCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeEvento)
        </th>
        @*<th class="Descrizione">
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th class="Luogo">
            @Html.DisplayNameFor(model => model.Luogo)
        </th>
        <th class="Indirizzo">
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th class="F">
            @Html.DisplayNameFor(model => model.FotoCopertina)
        </th>
        <th class="DataDa">
            @Html.DisplayNameFor(model => model.DataDa)
        </th>
        <th class="Data">
            @Html.DisplayNameFor(model => model.DataEvento)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="Username">
                @Html.DisplayFor(modelItem => item.Utenti.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.NomeCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEvento)
            </td>
            @*<td class="Descrizione">
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            <td class="Luogo">
                @Html.DisplayFor(modelItem => item.Luogo)
            </td>
            <td class="Indirizzo">
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td class="F">
                @Html.DisplayFor(modelItem => item.FotoCopertina)
            </td>
            <td class="DataDa">
                @Html.DisplayFor(modelItem => item.DataDa)
            </td>
            <td class="Data">
                @Html.DisplayFor(modelItem => item.DataEvento)
            </td>
            <td>
                <a href="/Eventi/Edit/@item.IdEvento" class="text-dark"><i class="fa-solid fa-pen"></i></a> 
                <a href="/Eventi/Details/@item.IdEvento"><i class="fa-solid fa-circle-info"></i></a>
                <a href="/Eventi/Delete/@item.IdEvento" class="text-danger"><i class="fa-solid fa-trash"></i></a>

            </td>
        </tr>
    }

</table>


