@using Capstone.Models 
@{
    ViewBag.Title = "Cart";
}

<link href="~/Content/StyleCart.css" rel="stylesheet" />
<div id="Container" class=" p-3 mt-5">

    @if (Session["Carello"] != null)
    {<div class=" text-primary text-center ">
            <h2 id="Title">Il tuo carrello</h2>
        </div>
        foreach (EventiOrdini e in Model)
        {
            <div class="card  mb-3  mx-auto" id="Card">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img src="~/Content/Img/@e.FotoCopertina" class="img-fluid d-flex h-75 w-75 mt-3 justify-content-center rounded-5 mx-auto my-auto" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title "><a class="text-warning text-decoration-none" href="/Eventi/Details/@e.IdEvento"> @e.NomeEvento.ToUpper()</a></h5>
                            <p class="card-text"><strong>Prezzo: </strong> @string.Format("{0:C}", @e.Prezzo)</p>
                          
                            <p class="card-text">  <strong>Quantità : </strong> @e.Quantita  </p>

                            <a href="/Ordini/CartRemove/?Id=@e.IdEvento" class="btn btn-danger" id="Elimina">-</a>
                            <a href="/Ordini/AddQuantità/?Id=@e.IdEvento" class="btn btn-danger" id="Elimina">+</a>
                            <a href="/Ordini/CartRemoveAllProdotto/?Id=@e.IdEvento" class="btn btn-danger" id="EliminaP">Elimina</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div id="Total" class=" border border-white text-center p-2">
            <h3 class=" ">Totale carrello: @string.Format("{0:C}", @ViewBag.totale) </h3>
            <a href="/Ordini/Create" class="btn btn-warning">Concludi l'ordine</a>
            <a href="/Ordini/CartRemoveAll" class="btn btn-warning">Svuota il carello</a>
        </div>
    }
    @if (Session["Carello"] == null)
    {<h2 class="text-center" id="Title">Aggiungi un evento al carrello</h2>
      
     <div class="container " id="Container1">

         <div class="arrow "></div>
         <div class="arrow"></div>
         <div class="arrow"></div> 
         <a id="a" class="text-center mx-auto" href="/home/index">Inizia</a>
     </div>
        <div id="Total" class=" text-center border border-white border-2">
            <h2 id="">Il tuo carrello è vuoto</h2>
        </div>
    }



</div>
