@model Capstone.Models.Ordini

@{
    ViewBag.Title = "Delete";
}
<link href="~/Content/StyleDelete.css" rel="stylesheet" />
<h2 id="Title" class="text-center">Elimana evento</h2>

<h3 class="text-center ">Sei sicuro di voler elimanere l'evento?</h3>
<div>
    <dl class="dl-horizontal" id="Detail">
        <dt>
            @Html.DisplayNameFor(model => model.Utenti.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utenti.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
