@model Capstone.Models.Ordini

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/StyleDettagliAdmin.css" rel="stylesheet" />
<h2 id="Title" class="text-center">Details</h2>

<div>
    <dl class="dl-horizontal text-dark" id="Detail">
        <dt class="text-dark">
            @Html.DisplayNameFor(model => model.Utenti.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utenti.Username)
        </dd>

        <dt class="text-dark">
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @string.Format("{0:d}", Model.Data) 
        </dd>

    </dl>
</div> 
<h2 id="Title" class="text-center">Articoli correlati</h2>
  @foreach (var item1 in Model.ListaOrdini)
  {
      <div class="border border-dark mt-3 w-25 text-center d-flex  flex-column justify-content-center mx-auto">
          <p>
            <strong>Nome evento: </strong>    @Html.DisplayFor(modelItem => item1.Eventi.NomeEvento)
          </p>
          <p>
              <strong>Quantità: </strong>     @Html.DisplayFor(modelItem => item1.Quantità)

          </p>
          <p>
              <strong>Prezzo:</strong>  @string.Format("{0:C}", item1.Eventi.Prezzo) 
          </p>
      </div>
                    }
