@model Capstone.Models.Ordini

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ordini</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Utenti.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utenti.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>
</div> 
<h2>Articoli correlati</h2>
  @foreach (var item1 in Model.ListaOrdini)
  {
      <div class="border border-dark mt-3 w-25 text-center">
          <p>
            <strong>Nome evento: </strong>    @Html.DisplayFor(modelItem => item1.Eventi.NomeEvento)
          </p>
          <p>
              <strong>Quantità: </strong>     @Html.DisplayFor(modelItem => item1.Quantità)

          </p>
          <p>
              <strong>Prezzo:</strong>    @Html.DisplayFor(modelItem => item1.Eventi.Prezzo)
          </p>
      </div>
                    }
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOrdini }) |
    @Html.ActionLink("Back to List", "Index")
</p>
