@model IEnumerable<Capstone.Models.Ordini>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/StyleIndexAdmin.css" rel="stylesheet" />
<h2>Index</h2>
@if ((string)TempData["Elimina"] == "False")
{
    <div>
        <h3 class="text-danger">Impossibile eliminare l'elemento </h3>
    </div>
}
else if ((string)TempData["Elimina"] == "True")
{
    <div>
        <h3 class="text-danger">Elimina avvenuta con successo</h3>
    </div>
}

<table class="table table-responsive table-bordered border-dark">

    <tr id="TitleTable">
        <th>
            @Html.DisplayNameFor(model => model.IdOrdini)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utenti.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrdini)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utenti.Username)
            </td>
            <td>
                @string.Format("{0:d}", @item.Data)
            </td>

            <td>
                <a href="/Ordini/Edit/@item.IdOrdini" class="text-dark"><i class="fa-solid fa-pen"></i></a>
                <a href="/Ordini/Details/@item.IdOrdini"><i class="fa-solid fa-circle-info"></i></a>
                <a href="/Ordini/Delete/@item.IdOrdini" class="text-danger"><i class="fa-solid fa-trash"></i></a>

            </td>
        </tr>
    }

</table>
