@using Capstone.Models
@{
    ViewBag.Title = "OrdiniEffettuati";
}
<link href="~/Content/BigliettiOrdini.css" rel="stylesheet" />
<link href="~/Content/StyleBiglietti.css" rel="stylesheet" />

<h2 id="Title" class="text-center">I tuoi biglietti</h2>

@foreach (Ordini o in Model)
{
    <div id="Div" class="border border-warning border-2 mt-3  rounded-3" style="font-family: cursive; background-color: #ffa500bd;">
        <h3 class="text-center ">Ordine n° @o.IdOrdini</h3>

        @foreach (ListaOrdini li in o.ListaOrdini)
        {
            if (li.Eventi.DataEvento >= DateTime.Today||li.Eventi.DataEvento==null)
            {
                <div class="coupon mt-3 mb-3">
                    <div class="left">
                        <div style=" margin-left: 30%;">@li.Eventi.Luogo <br /> @li.Eventi.Indirizzo</div>
                    </div>
                    <div class="center" style="background-image:url(/Content/Img/@li.Eventi.FotoCopertina); background-size:cover">
                        <div>
                            <small class="text-warning bg-dark">X @li.Quantità</small>
                            <h6 class="bg-dark text-warning p-1">@li.Eventi.NomeEvento</h6>
                            @if (li.Eventi.DataDa != null)
                            {
                                <h5 class="text-warning bg-dark">Dal @string.Format("{0:d}", @li.Eventi.DataDa)</h5>
                            }
                            else
                            {
                                <h5 class="text-warning bg-dark"> @string.Format("{0:d}", @li.Eventi.DataEvento)</h5>
                            }

                            <small class="text-warning bg-dark">Valido fino al @string.Format("{0:d}", @li.Eventi.DataEvento)</small>

                        </div>
                    </div>

                    <div class="right">
                        <div>@li.IdListaOrdine</div>
                    </div>

                </div>
                @*<div>
                        <a href="/ListaOrdini/Edit/@li.IdListaOrdine">Modifica</a>
                        <a href="/ListaOrdini/Delete/@li.IdListaOrdine">Elimina</a>
                    </div>*@
            }
        }
    </div>



    @*foreach (ListaOrdini li in o.ListaOrdini)
        {
            if (li.Eventi.DataEvento <= DateTime.Today)
            {
                <div class="border border-2 border-warning mt-3 " style="font-family:cursive; background-color: #80808033;">
                    <h3 class="text-center">Ordine n° @o.IdOrdini</h3>
                    @foreach (ListaOrdini lis in o.ListaOrdini)
                    {
                        <div class="coupon mb-3">
                            <div class="left">
                                <div style="margin-left: 30%;">@lis.Eventi.Luogo <br />@lis.Eventi.Indirizzo</div>
                            </div>
                            <div class="center" style="background-image:url(/Content/Img/@li.Eventi.FotoCopertina); background-size:cover">
                                <div>
                                    <h6 class="bg-dark text-warning p-1">@lis.Eventi.NomeEvento</h6>
                                    <h5 class="text-warning bg-dark" style=" text-shadow: 2px 2px 6px black;">Dal @string.Format("{0:d}", @lis.Eventi.DataDa)</h5>
                                    <small class="text-warning bg-dark">Valido fino al @string.Format("{0:d}", @lis.Eventi.DataEvento)</small>
                                </div>
                            </div>

                            <div class="right">
                                <div>@lis.IdListaOrdine</div>
                            </div>

                        </div>
                    }
                </div>
            }
        }*@



}

@if (Model.Count == 0)
{<div class="text-center">
        <h4>Nessun ordine presente</h4>
        <p>Concludi un ordine per ottenere il tuo primo biglietto per un evento</p>
        <a class="text-warning" href="/home/index">Home</a>
    </div>
}
