@using Capstone.Models
@{
    ViewBag.Title = "OrdiniEffettuati";
}
<link href="~/Content/BigliettiOrdini.css" rel="stylesheet" />
<link href="~/Content/StyleBiglietti.css" rel="stylesheet" />
@foreach (Ordini o in Model)
{

    if (o.Data >= DateTime.Today)
    {
        <div class="border border-warning d-none d-md-block m-5 p-4">
            <h3 class="text-center text-white">Ordine n° @o.IdOrdini</h3>

            @foreach (ListaOrdini li in o.ListaOrdini)
            {

                <div class="ticket ticket-1 text-white mb-5" style="background-image:url(/Content/Img/@li.Eventi.FotoCopertina)">
                    <div class="date">
                        <span class="day" style="font-size:35px">@string.Format("{0:d}", @li.Eventi.DataEvento)</span>
                        <span class="month-and-time">

                            <br />
                            <span class="small"> </span>
                        </span>
                    </div>
                    <div class="artist">
                        <span class="name">@li.Eventi.NomeEvento</span>
                        <br />
                        <span class="live small">@ViewBag.NomeUtente</span>
                    </div><h3>X @li.Quantità</h3>
                    <div class="location d-flex align-items-center justify-content-start">

                        <span>@li.Eventi.Luogo</span>
                        <br />
                        <span class="small"><span>@li.Eventi.Indirizzo</span></span>
                    </div>

                    <div class="rip">

                    </div>

                    <div class="cta">
                        <button class="buy" href="#">@li.IdListaOrdine TICKET</button>
                    </div>

                </div>
                @*if (o.Data <= DateTime.Today)
                    {
                        <a href="/ListaOrdini/Edit/@li.IdListaOrdine" class="btn btn-primary">Modifica</a>
                        <a href="/ListaOrdini/Delete/@li.IdListaOrdine" class="btn btn-primary">Elimina</a>
                    }*@
            }


        </div>
    }
    else
    {
        <div class="bg-secondary m-5">
            <h3 class="text-center text-white">Ordine n° @o.IdOrdini</h3>

            @foreach (ListaOrdini li in o.ListaOrdini)
            {

                <div class="ticket ticket-1 text-white" style="background-image:url(/Content/Img/@li.Eventi.FotoCopertina)">
                    <div class="date">
                        <span class="day">@li.Eventi.DataEvento.</span>
                        <span class="month-and-time">
                            @li.Eventi.DataEvento
                            <br />
                            <span class="small">  @li.Eventi.DataEvento</span>
                        </span>
                    </div>
                    <div class="artist">
                        <span class="name">@li.Eventi.NomeEvento</span>
                        <br />
                        <span class="live small">@ViewBag.NomeUtente</span>
                    </div><h3>X @li.Quantità</h3>
                    <div class="location d-flex align-items-center justify-content-start">

                        <span>@li.Eventi.Luogo</span>
                        <br />
                        <span class="small"><span>@li.Eventi.Indirizzo</span></span>
                    </div>

                    <div class="rip">

                    </div>

                    <div class="cta">
                        <button class="buy" href="#">@li.IdListaOrdine TICKET</button>
                    </div>

                </div>
                @*if (o.Data <= DateTime.Today)
                    {
                        <a href="/ListaOrdini/Edit/@li.IdListaOrdine" class="btn btn-primary">Modifica</a>
                        <a href="/ListaOrdini/Delete/@li.IdListaOrdine" class="btn btn-primary">Elimina</a>
                    }*@
            }


        </div>
    }

}

@foreach (Ordini o in Model)
{

    if (o.Data >= DateTime.Today)
    {
        
     <h2 class="text-center">Ordine n° @o.IdOrdini</h2>   

        foreach (ListaOrdini li in o.ListaOrdini)
        {
       <div class="coupon d-md-none">
           <div class="left">
               <div>@li.Eventi.Luogo</div>
               <div>@li.Eventi.Indirizzo</div>
           </div>
           <div class="center">
               <div>
                   <h6 class="bg-dark text-warning p-1">@li.Eventi.NomeEvento</h6>
                   <h5>Dal @string.Format("{0:d}", @li.Eventi.DataDa)</h5>
                   <small>Valido fino al @string.Format("{0:d}", @li.Eventi.DataEvento)</small>
               </div>
           </div>

           <div class="right">
               <div>@li.IdListaOrdine</div>
           </div>

       </div>
        }

    }
    else
    {

        foreach (ListaOrdini li in o.ListaOrdini)
        {


        }

    }

}

