@using Capstone.Models
@{
    ViewBag.Title = "Cart";
}
<link href="~/Content/StyleRiepilogoOrdine.css" rel="stylesheet" />
<link href="~/Content/StyleCart.css" rel="stylesheet" />
<div id="Container" class=" p-3">

    @if (Session["Carello"] != null)
    {<div class=" text-primary text-center mt-3">

            <h2 id="Title"> Ciao @ViewBag.Nome ecco il tuo Riepilogo ordine</h2>
        </div>

        <div class=" text-center  mb-2 p-2 border border-white" style="background-color:orange">
            <strong>Il tuo numero di telefono</strong>

            <p>@ViewBag.Telefono</p>
            <a class="text-warning" href="/Utenti/Edit/@ViewBag.IdUtente">Modifica</a>
        </div>
        foreach (EventiOrdini e in Model)
        {
            <div class="card  mb-3  mx-auto" id="Card">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img src="~/Content/Img/@e.FotoCopertina" class="img-fluid d-flex h-75 w-75 mt-3 justify-content-center rounded-5 mx-auto my-auto" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title "><a class="text-warning text-decoration-none" href="/Eventi/Details/@e.IdEvento"> @e.NomeEvento.ToUpper()</a></h5>
                            <p class="card-text"><strong>Prezzo: </strong> @string.Format("{0:C}", @e.Prezzo)</p>
                            @if (e.DataDa != null && e.DataEvento != null)
                            {
                                <p class="card-text"><strong>Data inizio evento: </strong>   @string.Format("{0:d}", @e.DataDa)</p>
                                <p class="card-text"><strong>Data fine evento: </strong>   @string.Format("{0:d}", @e.DataEvento)</p>
                            }
                            else if (e.DataDa == null && e.DataEvento == null)
                            {

                            }
                            else
                            {
                                <p class="card-text"><strong>Data fine evento: </strong>   @string.Format("{0:d}", @e.DataEvento)</p>
                            }
                            <p class="card-text"><strong>Indirizzo: </strong>  @e.Indirizzo</p>
                            <p class="card-text">  <strong>Luogo : </strong> @e.Luogo  </p>
                            <p class="card-text">  <strong>Quantità : </strong> @e.Quantita  </p>

                        </div>
                    </div>
                </div>
            </div>

        }
        <div id="Total" class="border border-dark text-center p-2">
            <h3 class=" ">Totale ordine: @string.Format("{0:C}", @ViewBag.totale) </h3>

        </div>
    }

</div>
<div class="border border-dark">
    <div class="screen flex-center p-3">
        <form class="popup flex p-lg">
            <div class="close-btn pointer flex-center p-sm">
                <i class="ai-cross"></i>
            </div>

            <!-- CARD FORM -->
            <div class="flex-fill flex-vertical">
                <div class="header flex-between flex-vertical-center">
                    <div class="flex-vertical-center">
                        <i class="ai-bitcoin-fill size-xl pr-sm f-main-color"></i>
                        <span class="title">
                            <strong class="text-warning">Inserisci una carta</strong>
                        </span>
                    </div>
                </div>
                <div class="card-data flex-fill flex-vertical">

                    <!-- Card Number -->
                    <div class="flex-between flex-vertical-center">
                        <div class="card-property-title">
                            <strong class="text-warning">Numero carta</strong>
                            <span>Inserisci 16 caratteri</span>
                        </div>

                    </div>

                    <!-- Card Field -->
                    <div class="flex-between">
                        <div class="card-number flex-vertical-center flex-fill">
                            <div class="card-number-field flex-vertical-center flex-fill">


                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24px" height="24px"><path fill="#ff9800" d="M32 10A14 14 0 1 0 32 38A14 14 0 1 0 32 10Z" /><path fill="#d50000" d="M16 10A14 14 0 1 0 16 38A14 14 0 1 0 16 10Z" /><path fill="#ff3d00" d="M18,24c0,4.755,2.376,8.95,6,11.48c3.624-2.53,6-6.725,6-11.48s-2.376-8.95-6-11.48 C20.376,15.05,18,19.245,18,24z" /></svg>

                                <input required class="numbers" type="text" maxlength="4" placeholder="0000">-
                                <input required class="numbers" type="text" maxlength="4" placeholder="0000">-
                                <input required class="numbers" type="text" maxlength="4" placeholder="0000">-
                                <input required class="numbers" type="text" maxlength="4" placeholder="0000" data-bound="carddigits_mock" data-def="0000">
                            </div>
                            <i class="ai-circle-check-fill size-lg f-main-color"></i>
                        </div>
                    </div>

                    <!-- Expiry Date -->
                    <div class="flex-between">
                        <div class="card-property-title">
                            <strong class="text-warning">Data di scadenza </strong>
                            <span>Inserisci la data di scadenza della carta</span>
                        </div>
                        <div class="card-property-value flex-vertical-center">
                            <div class="input-container half-width border-0">
                                <input class="numbers " data-bound="mm_mock" data-def="00" type="number" min="01" max="12" step="1" placeholder="MM">
                            </div>
                            <span class="m-md">/</span>
                            <div class="input-container half-width border-0">
                                <input required class="numbers  " data-bound="yy_mock" data-def="01" type="number" min="01" max="12" step="1" placeholder="YY">
                            </div>
                        </div>
                    </div>

                    <!-- CCV Number -->
                    <div class="flex-between">
                        <div class="card-property-title">
                            <strong class="text-warning">CVC</strong>
                            <span>Inserisci i 3 numeri del codice di verifica della carta</span>
                        </div>
                        <div class="card-property-value">
                            <div class="input-container  border-0">
                                <input required id="cvc" type="password" placeholder="CVV">
                                <i id="cvc_toggler" data-target="cvc" class="ai-eye-open pointer" ></i>
                            </div>
                        </div>
                    </div>

                    <!-- Name -->
                    <div class="flex-between">
                        <div class="card-property-title">
                            <strong class="text-warning">Titolare carta</strong>
                            <span>Inserisci nome e cognome del titolare della carta</span>
                        </div>
                        <div class="card-property-value">
                            <div class="input-container  border-0">
                                <input required id="name" data-bound="name_mock" data-def="Mr. Cardholder" type="text" class="uppercase" placeholder="Titolare carta">
                                <i class="ai-person"></i>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </form>

    </div>

</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#ModificaIndirizzo").click(function () {
                console.log("ciao")

            })

        })
    </script>

}