@model Capstone.Models.Utenti
@{
    ViewBag.Title = "Account";


}
<link href="~/Content/StyleAccount.css" rel="stylesheet" />
<h2 id="Title">Account</h2>
<div>
    <div class="dl-horizontal text-center border border-warning w-25 mx-auto">

        <h5>
            <i class="fa-solid fa-user"></i>
            @Html.DisplayNameFor(model => model.Username)
        </h5>

        <p>
            @Html.DisplayFor(model => model.Username)
        </p>
        <hr />
        <div class="d-flex align-items-center justify-content-evenly">

            <div>

                <h5 class="mt-3">
                    <i class="fa-solid fa-lock"></i>
                    @Html.DisplayNameFor(model => model.Password)
                </h5>
                <p class="mx-auto">
                    <i class="fa-solid fa-circle fa-2xs"></i>
                    <i class="fa-solid fa-circle fa-2xs"></i>
                    <i class="fa-solid fa-circle fa-2xs"></i>
                    <i class="fa-solid fa-circle fa-2xs"></i>
                    <i class="fa-solid fa-circle fa-2xs"></i>
                    <i class="fa-solid fa-circle fa-2xs"></i>
                </p>

            </div>
            <div class="text-center">
                <a href="/Utenti/EditPassword" class="text-warning p-2 rounded-3"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>



        <hr />
        <h5>
            <i class="fa-solid fa-location-dot"></i>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </h5>

        <p>
            @Html.DisplayFor(model => model.Indirizzo)
        </p>
        <hr />
        <h5>
            <i class="fa-solid fa-envelope"></i>
            @Html.DisplayNameFor(model => model.Email)
        </h5>

        <p>
            @Html.DisplayFor(model => model.Email)
        </p>
        <hr />
        <h5>
            <i class="fa-solid fa-phone"></i>
            @Html.DisplayNameFor(model => model.Telefono)
        </h5>

        <p>
            @Html.DisplayFor(model => model.Telefono)
        </p>
        <hr />
        @if (Model.IsAzienda == true)
        {
            <h5>
                @Html.DisplayNameFor(model => model.IsAzienda)
            </h5>
            <p>
                @Html.DisplayFor(model => model.IsAzienda)
            </p>

        }




        @if (Model.PartitaIva != null)
        {
            <h5>
                <i class="fa-regular fa-address-card"></i>
                @Html.DisplayNameFor(model => model.PartitaIva)
            </h5>

            <p>
                @Html.DisplayFor(model => model.PartitaIva)
            </p>
        }
        @if (Model.CodiceFiscale != null)
        {
            <h5>
                <i class="fa-regular fa-address-card"></i>
                @Html.DisplayNameFor(model => model.CodiceFiscale)
            </h5>

            <p>
                @Html.DisplayFor(model => model.CodiceFiscale)
            </p>
        }
        <p>
            <a href="/Utenti/Edit/ @Html.DisplayFor(model => model.IdUtente)" class="btn " style="background-color:orange">Modifica</a>
        </p>
    </div>
</div>


