@model Capstone.Models.Utenti
@{
    ViewBag.Title = "Account";
    var Messaggio = "";
    if (TempData["Success"] != null)
    {
        Messaggio = (string)TempData["Success"];
    }
    var MessaggioEdit = "";
    if (TempData["SuccessEdit"] != null)
    {
        MessaggioEdit = (string)TempData["SuccessEdit"];
    }
}

@if (TempData["Success"] != null)
{
    <h5 class="text-center text-success">@(Messaggio)</h5>
}
@if (TempData["SuccessEdit"] != null)
{
    <h5 class="text-center text-success">@(MessaggioEdit)</h5>
}
<link href="~/Content/StyleAccount.css" rel="stylesheet" />
<h2 id="Title">Account</h2>
<div>
    <div id="Div" class="dl-horizontal text-center border border-warning  mx-auto">
        <div id="U">
            <h5>
                <i class="fa-solid fa-user"></i>
                @Html.DisplayNameFor(model => model.Username)
            </h5>

            <p>
                @Html.DisplayFor(model => model.Username)
            </p>
        </div>
        <hr />
        <div class="d-flex align-items-center justify-content-center" id="P">

            <div>

                <h5 class="mt-3">
                    <i class="fa-solid fa-lock"></i>
                    @Html.DisplayNameFor(model => model.Password)
                </h5>
                <p class="mx-auto">
                    <i class="fa-solid fa-circle fa-2xs"></i>
                    <i class="fa-solid fa-circle fa-2xs"></i>
                    <i class="fa-solid fa-circle fa-2xs"></i>
                    <i class="fa-solid fa-circle fa-2xs"></i>
                    <i class="fa-solid fa-circle fa-2xs"></i>
                    <i class="fa-solid fa-circle fa-2xs"></i>
                </p>

            </div>
            <div class="text-center">
                <a href="/Utenti/EditPassword" class="text-warning p-2 rounded-3"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>



        <hr />
        <div id="I">
            <h5>
                <i class="fa-solid fa-location-dot"></i>
                @Html.DisplayNameFor(model => model.Indirizzo)
            </h5>

            <p>
                @Html.DisplayFor(model => model.Indirizzo)
            </p>
        </div>
        <hr />
        <div id="E">
            <h5>
                <i class="fa-solid fa-envelope"></i>
                @Html.DisplayNameFor(model => model.Email)
            </h5>

            <p>
                @Html.DisplayFor(model => model.Email)
            </p>
        </div>
        <hr />
        <div id="T">
            <h5>
                <i class="fa-solid fa-phone"></i>
                @Html.DisplayNameFor(model => model.Telefono)
            </h5>

            <p>
                @Html.DisplayFor(model => model.Telefono)
            </p>
        </div>
        <hr />
        @if (Model.IsAzienda == true)
        {
            <div id="A">
                <h5>
                    @Html.DisplayNameFor(model => model.IsAzienda)
                </h5>
                <p>
                    @Html.DisplayFor(model => model.IsAzienda)
                </p>
            </div>
        }




        @if (Model.PartitaIva != null)
        {
            <div id="P">
                <h5>
                    <i class="fa-regular fa-address-card"></i>
                    @Html.DisplayNameFor(model => model.PartitaIva)
                </h5>

                <p>
                    @Html.DisplayFor(model => model.PartitaIva)
                </p>
            </div>
        }
        @if (Model.CodiceFiscale != null)
        {
            <div id="C">
                <h5>
                    <i class="fa-regular fa-address-card"></i>
                    @Html.DisplayNameFor(model => model.CodiceFiscale)
                </h5>

                <p>
                    @Html.DisplayFor(model => model.CodiceFiscale)
                </p>
            </div>
        }
        <p>
            <a href="/Utenti/Edit/ @Html.DisplayFor(model => model.IdUtente)" class="btn " style="background-color:orange">Modifica</a>
        </p>
    </div>
    <div id="Div" class="dl-horizontal text-center border border-warning mt-2 mx-auto">
        <div id="Div1" class="d-flex justify-content-center align-items-center">
            <div>
                <i class="fa-solid fa-box-archive"></i>
                <h5>I tuoi ordini</h5>
            </div>
            <div class="text-center">
                <a href="/Ordini/OrdiniEffettuati" class="text-warning p-2 rounded-3"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>

    </div>
    <div id="Div" class="dl-horizontal text-center border border-warning mt-2 mx-auto">
        <div id="Div2" class="d-flex justify-content-center align-items-center">
            <div>
                <i class="fa-solid fa-heart"></i>
                <h5>La tua lista dei preferiti</h5>
            </div>
            <div class="text-center">
                <a href="/Home/Preferiti" class="text-warning p-2 rounded-3"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>


