@*@model List<Capstone.Models.Eventi>*@
@using Capstone.Models


@* Sezione filtri *@
@if (User.IsInRole("user"))
{
  <button id="ButtonFiltri">Filtri</button>
}

<div id="filtri" style="display:none">
    @* Categoria *@
    <div>
        <h3>Seleziona per categoria</h3>
        <button id="C" class="btn btn-primary">Concerti</button>
        <button id="F" class="btn btn-primary">Feste</button>
        <button id="A" class="btn btn-primary">Avventura</button>
        <button id="R" class="btn btn-primary">Relax</button>
        <button id="M" class="btn btn-primary">Musei</button>
    </div>
    @* Prezzo *@
    <h3>Seleziona per costo</h3>
    <div class="d-flex">


        <button id="G" class="btn btn-primary">Gratis</button>
        <input type="number" name="Prezzo" id="InputPrezzo" />
        <button id="P" class="btn btn-primary">Cerca</button>

        <h3>Da</h3>
        <input type="number" name="Prezzo" id="InputPrezzo1" />
        <button id="P1" class="btn btn-primary">Cerca</button>



    </div>
    @* Data *@
    <h3>Seleziona per data </h3>
    <div class="d-flex ">
        <div>
            <h5>Per singola data</h5>
            <div class="d-flex ms-2">
                <div>
                    <h6>Il</h6>
                    <input type="date" name="DataEvento" id="InputDate" class="btn btn-primary"></>
                    <button id="Data" class="btn btn-primary">Cerca</button>
                </div>
            </div>
            <div>
            </div>
        </div>
        <div>

            <h5>Per un periodo</h5>
            <div class="d-flex ms-2">
                <div>
                    <h6>Dal</h6>
                    <input type="date" name="DataEvento" id="InputPeriodo" class="btn btn-primary" />
                    <button id="DataPeriodo" class="btn btn-primary">Cerca</button>
                </div>
            </div>
        </div>

    </div>
    @* Luogo *@
    <h3>Per località</h3>
    <div class="d-flex ">
        <div>
            <div>
                <input type="text" name="DataEvento" id="InputLuogo" class=" ">
                <button id="L" class="btn btn-primary">Cerca</button>
            </div>
            <div>
            </div>
        </div>
        <div>


        </div>

    </div>
    <a class="text-decoration-line" id="RemoveFiltri">Rimuovi filtri</a>
</div>

<div class="container">
    <div class="row" id="Eventi">
        @* Eventi *@
        @foreach (Capstone.Models.Eventi e in Model)
        {

            <div class="card col" style="width: 18rem;">
                <img src="~/Content/Img/@e.FotoCopertina" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@e.NomeEvento</h5>
                    <p class="card-text">@e.Descrizione</p>
                    <p class="card-text">@string.Format("{0:C}", @e.Prezzo)</p>
                    <p class="card-text">@e.Indirizzo</p>
                    <p class="card-text">@string.Format("{0:d}", @e.DataEvento)</p>
                    <p class="card-text">@string.Format("{0:d}", @e.DataDa)</p>
                    <p>Categoria:@e.Categorie.NomeCategoria</p>
                    @if (User.IsInRole("user"))
                    {
                        <a href="/Recensioni/Create/?id=@e.IdEvento">Scrivi una recensione</a>
                    }



                    <a href="/Eventi/Details/@e.IdEvento">Dettagli</a>
                </div>

            </div>

        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">


        $(document).ready(function () {

            function filtri(data) {
                $("#List").html("")
                $("#Eventi").html("");
                $.each(data, function (i, e) {
                   
                    var licurrent = "<div  class='card col-6 col-md-4 col-lg-3' style='width: 18rem;'>" +
                        " <img src='/Content/Img/" + e.FotoCopertina + "' class='card-img-top' alt='...'>" +
                        "<div class='card-body'>" +
                        " <h5 class='card-title'>" + e.NomeEvento + "</h5>" +
                        " <p class='card-text'>" + e.Descrizione + "</p>" +
                        " <p class='card-text'>" + e.Prezzo + "</p>" +
                        "<p class='card-text'>" + e.Indirizzo + "</p>" +
                        "<p class='card-text'>" + e.DataE + "</p>" +
                        "<p class='card-text'>" + e.DataDaString + "</p>" +
                        "<p>Categoria:" + "</p>" +
                        "<a href='/Recensioni/Create/?id=" + e.IdEvento + "'>Scrivi una recensione</a>" +
                        "<a href='/Eventi/Details/" + e.IdEvento + "'>Dettagli</a></div> </div>"


                    $("#Eventi").append(licurrent)
                })
            }
            function ChiamataAjax(prezzo,nomeCategoria,DataEvento,luogo) {
                $.ajax({
                    method: "POST",
                    url: "/Home/Filtri",
                    data: { Prezzo: prezzo, NomeCategoria: nomeCategoria, DataEvento: DataEvento,Luogo:luogo },
                    success: function (data) {
                        console.log(data)
                        filtri(data);
                    }
                })
            }
            $("#ButtonFiltri").click(function () {
                //Mostra/NonMostra i filtri
                if ($("#filtri").css("display") === "none") {
                    $("#filtri").css("display", "block")

                }
                else {
                    $("#filtri").css("display", "none")

                }
            })

            //Sezione Filtri
            //Al click di un bottone dei filtri genero una chiamata ajax per
            // ottenere la categoria e fare una select al db
           
            $("#G").click(function () {
                ChiamataAjax(0, null, "01/01/0001","")

            })
            $("#P").click(function () {
                var prezzo = $("#InputPrezzo").val();

                ChiamataAjax(prezzo, null, "01/01/0001", "")

            })
            $("#P1").click(function () {
                var prezzo = $("#InputPrezzo1").val();
                ChiamataAjax(prezzo, "Da", "01/01/0001", "")

            })

            $("#C").click(function () {
                ChiamataAjax(0, "Concerti", "01/01/0001", "")

            })
            $("#A").click(function () {
                ChiamataAjax(0, "Avventura", "01/01/0001", "")

            })
            $("#F").click(function () {
                ChiamataAjax(0, "Feste", "01/01/0001", "")

            })
            $("#R").click(function () {
                ChiamataAjax(0, "Relax", "01/01/0001", "")

            })
            $("#M").click(function () {
                ChiamataAjax(0, "Musei", "01/01/0001", "")

            })
            $("#Data").click(function () {
                var date = $("#InputDate").val();
                console.log(date)
                ChiamataAjax(0, "", date, "")

            })
            $("#DataPeriodo").click(function () {
                var date = $("#InputPeriodo").val();
                console.log(date)
                ChiamataAjax(0, "Dal", date, "")

            })
            $("#RemoveFiltri").click(function () {
                ChiamataAjax(-1, null, "01/01/0001", "")
            })
            $("#L").click(function () {
                var luogo = $("#InputLuogo").val();
                ChiamataAjax(0, null, "01/01/0001",luogo)

            })
        })
    </script>
}

