@*@model List<Capstone.Models.Eventi>*@
@using Capstone.Models

@foreach (Capstone.Models.Eventi e in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="~/Content/Img/@e.FotoCopertina" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@e.NomeEvento</h5>
            <p class="card-text">@e.Descrizione</p>
            <p class="card-text">@e.Prezzo</p>
            <p class="card-text">@e.Indirizzo</p>
            <p class="card-text">@e.DataEvento</p>
            <p>Categoria:@e.Categorie.NomeCategoria</p>
            <a href="/Recensioni/Create/?id=@e.IdEvento">Scrivi una recensione</a>


            @*<button id="buttonmostra" class="btn btn-primary">scrivi una recensione</button>
            <div id="recensioni" style="display:none">
                @Html.Action("CreateRecensioni", "Recensioni")
            </div>*@
            @foreach (Capstone.Models.Recensioni r in e.Recensioni)
            {

                <div class="bg-secondary p-3 m-2 rounded-3">
                    <div class="d-flex">
                        <img style="width: 10%; height:10%;" class="rounded-5" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Alternate Text" />
                        <p>@r.Utenti.Username</p>
                    </div>
                    <div class=" bg-white bg-opacity-50 rounded-3">
                        <p>@r.Descrizione</p>
                        <p><strong>Voto:</strong>@r.Voto</p>
                    </div>
                    @if ( r.IdUtente==(int)Session["Utente"])
                    {
                        <a href="/recensioni/Edit/@r.IdRecensione">Modifica</a>
                    }

                </div>

            }

        </div>

    </div>
}



@section scripts{
    <script type="text/javascript">


        $(document).ready(function () {

            $("#buttonmostra").click(function () {
                if ($("#recensioni").css("display") === "none") {
                    $("#recensioni").css("display","block")
                }
                else {
                    $("#recensioni").css("display", "none")
                }
            })

        })
    </script>
}

