@using Capstone.Models
@{
    ViewBag.Title = "Preferiti";
}
<link href="~/Content/StylePreferiti.css" rel="stylesheet" />
<h2 id="Title" class="text-center">Preferiti</h2>
<style>
    #Card:hover {
        transform: scale(1.1);
        z-index: 2;
    }
</style>
@foreach (Eventi e in Model)
{
    <div class="card  mb-3 w-100 mx-auto" style=" font-family: cursive; box-shadow: 13px 17px 12px -6px rgba(0,0,0,0.77);" id="Card">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="~/Content/Img/@e.FotoCopertina" class="img-fluid d-flex h-75 w-75 mt-3 justify-content-center rounded-5 mx-auto my-auto" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title "><a class="text-warning text-decoration-none" href="/Eventi/Details/@e.IdEvento"> @e.NomeEvento.ToUpper()</a></h5>
                    <p class="card-text"><strong>Prezzo: </strong> @string.Format("{0:C}", @e.Prezzo)</p>
                    @if (e.DataDa != null && e.DataEvento != null)
                    {
                        <p class="card-text"><strong>Data inizio evento: </strong>   @string.Format("{0:d}", @e.DataDa)</p>
                        <p class="card-text"><strong>Data fine evento: </strong>   @string.Format("{0:d}", @e.DataEvento)</p>
                    }
                    else if (e.DataDa == null && e.DataEvento == null)
                    {

                    }
                    else
                    {
                        <p class="card-text"><strong>Data fine evento: </strong>   @string.Format("{0:d}", @e.DataEvento)</p>
                    }
                    <p class="card-text"><strong>Indirizzo: </strong>  @e.Indirizzo</p>
                    <p class="card-text">  <strong>Luogo : </strong> @e.Luogo  </p>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Count == 0)
{<div class="text-center">
        <h4 >Nessun preferito salvato</h4>
        <p>Vai alla home e salva tutti gli eventi che ti affascinano per non perderti nulla</p>
        <a class="text-warning" href="/home/index">Home</a>
    </div>
}