@using Capstone.Models
@{
    ViewBag.Title = "Preferiti";
}
<link href="~/Content/StylePreferiti.css" rel="stylesheet" />
<h2>Preferiti</h2>

@foreach (Eventi e in Model)
{
    <div class="card col" style="width: 18rem;">
        <img src="~/Content/Img/@e.FotoCopertina" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@e.NomeEvento</h5>
            <p class="card-text">@e.Descrizione</p>
            <p class="card-text">@string.Format("{0:C}", @e.Prezzo)</p>
            <p class="card-text">@e.Indirizzo</p>
            <p class="card-text">@string.Format("{0:d}", @e.DataEvento)</p>
            <p>Categoria:@e.Categorie.NomeCategoria</p>
            <a href="/Eventi/Details/@e.IdEvento">Dettagli</a>
        </div>

    </div>
}