@model Capstone.Models.Recensioni

@{
    ViewBag.Title = "Edit";
}
<link href="~/Content/RecensioniStelle.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="d-flex flex-column">
        <hr /> <h2 id="Title" class="text-center">Scrivi una recensione</h2>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group d-flex justify-content-center">
            <div class="rating d-block">
                <input type="radio" id="star5" name="rating" value="5" />
                <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
            </div>

        </div>
        <strong class="text-danger">@ViewBag.ErroreStelle</strong>
        <div class="form-group d-flex justify-content-center align-items-center flex-column">
            @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.TextAreaFor(model => model.Descrizione, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 ">
                <input id="button" type="submit" value="Create" class="btn mx-auto d-flex mt-3" />
            </div>
        </div>
    </div>
    @*<div class="form-horizontal">
            <h4>Recensioni</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdRecensione)

            <div class="form-group">

                <div class="col-md-10">
                    @Html.HiddenFor(model => model.IdUtente, "IdUtente")
                    @Html.ValidationMessageFor(model => model.IdUtente, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group ">
                <div class="rating d-block">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descrizione, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.HiddenFor(model => model.IdEvento, "IdEvento")
                    @Html.ValidationMessageFor(model => model.IdEvento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>*@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
