@model IEnumerable<Capstone.Models.Recensioni>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/StyleIndexAdmin.css" rel="stylesheet" />
<h2 id="Title" class="text-center">Registro recensioni</h2>


<table class="table table-responsive table-bordered border-dark">
    <tr id="TitleTable">
        <th>
            @Html.DisplayNameFor(model => model.Eventi.IdEvento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eventi.NomeEvento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utenti.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voto)
        </th>
        <th class="Descr">
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.Eventi.IdEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eventi.NomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utenti.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voto)
            </td>
            <td class="Descr">
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                <a href="/Recensioni/Delete/@item.IdRecensione" class="text-danger"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
    }

</table>
