<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>*@
    <script src="https://use.fontawesome.com/7ad89d9866.js"></script>
    <link href="~/Content/StyleLayoutPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    @if (User.IsInRole("Admin"))
    {
        <nav id="Admin" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-warning">
            <div class="container">
                @Html.ActionLink("EventSardigna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Utenti", "index", "utenti", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Eventi", "index", "Eventi", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Ordini", "index", "Ordini", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Categorie", "index", "Categorie", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Recensioni", "index", "Recensioni", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Resoconto", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        @*<li>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown button
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item active" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    }
    else if (User.IsInRole("User"))
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-white bg-warning">
            <div class="container">
                @Html.ActionLink("EventSardigna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Chi Siamo", "ChiSiamo", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Il tuo account", "Account", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Carello", "cart", "Ordini", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li><a href="/Home/Account" class="text-white"><i class="fa-solid fa-gear"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    }
    else if (User.IsInRole("Azienda"))
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                @Html.ActionLink("EventSardigna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Eventi", "index", "Eventi", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Ordini", "index", "Ordini", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Recensioni", "index", "Recensioni", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Resoconto", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                @Html.ActionLink("EventSardigna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Chi Siamo", "ChiSiamo", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Registrati", "Register", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>
            </div>
        </nav>
    }

    <div class="container body-content ">
        @RenderBody()

        <footer class="footer">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="container-fluid row">
                    <div class="footer-col text-center">
                        <h4>Contatti</h4>
                        <ul>
                            <li><a href="#">TouSardigna.com</a></li>
                            <li><a href="#">263 789 749o</a></li>
                        </ul>
                    </div>
                    <div class="footer-col text-center">
                        <h4>Privacy</h4>
                        <ul>
                            <li><a href="#">Termini e condizioni</a></li>
                            <li><a href="#">Preferenza cookie</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Cookie Policy </a></li>
                        </ul>
                    </div>
                    <div class="footer-col text-center">
                        <h4>Seguici su</h4>
                        <div class="social-links">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="text-center">&copy; @DateTime.Now.Year - TourSardigna</p>
                </div>
            </div>
        </footer>



    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

</body>

</html>
