@model Capstone.Models.Utenti

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/StyleDettagliAdmin.css" rel="stylesheet" />
<h2 class="text-center" id="Title">Dettaglio Utente</h2>

<div>

    <dl class="dl-horizontal" id="Detail">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        @if (Model.CodiceFiscale != null && Model.CodiceFiscale != "")
        {
            <dt>
                @Html.DisplayNameFor(model => model.CodiceFiscale)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CodiceFiscale)
            </dd>
        }

        @if (Model.PartitaIva != null && Model.PartitaIva != "")
        {
            <dt>
                @Html.DisplayNameFor(model => model.IsAzienda)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsAzienda)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PartitaIva)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PartitaIva)
            </dd>
        }
    </dl>
</div>
<p>

     
   
</p>
