@model Capstone.Models.Utenti

@{
    ViewBag.Title = "EditPassword";
}

<link href="~/Content/LoginRegister.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2 id="Title" class="text-center">Reset della Password</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="d-flex align-items-center mx-auto border border-dark  mx-auto" id="Form">

            <div class="m-3 text-white p-3 text-center rounded-3 mx-auto border border-dark" style="background-color: #ae0000d4">

                <h5>  <i class="fa-solid fa-lock"></i> Vecchia password</h5>
                <input type="text" name="OldPassword" id="OldPassword" value="" />
                <h5>  <i class="fa-solid fa-lock"></i> Nuova password</h5>
                <input type="text" name="NewPassword" id="NewPassword" value="" />
                <div class="form-group">
                    <div class="col-md-offset-2 ">
                        <input type="submit" value="Modifica" class="btn btn mt-2"  style="background-color:darkorange"/>
                    </div>
                </div>
                <div>
                    <h4 class="text-danger">@ViewBag.ErroreNumerico</h4>
                    <h4 class="text-danger">@ViewBag.ErroreCarattereSpeciale</h4>
                    <h4 class="text-danger">@ViewBag.ErroreletteraMaiuscola</h4>
                </div>
            </div>
        </div>

    </div>

}
