@model Capstone.Models.Utenti

@{
    ViewBag.Title = "RecuperoPassword";
}

<h2 id="Title" class="text-center">Modifica la tua password</h2>
<link href="~/Content/LoginRegister.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="d-flex align-items-center mx-auto border border-dark  mx-auto" id="Form">

        <div class="m-3 text-white p-3 text-center rounded-3 mx-auto border border-dark" style="background-color: #ae0000d4">

            <h5><i class="fa-solid fa-user"></i> Username</h5>
            <input type="text" name="Username" id="Username" value="" class="form-control" />
            <h5> <i class="fa-regular fa-address-card"></i> Codice fiscale</h5>
            <input type="text" name="CodiceFiscale" id="CodiceFiscale" value="" class="form-control" />
            <h5> <i class="fa-solid fa-lock"></i> Nuova password</h5>
            <input type="text" name="NewPassword" id="NewPassword" value="" class="form-control" />
            <div class="form-group">
                <div class="col-md-offset-2 mt-3">
                    <input type="submit" value="Invia" class="btn" style="background-color:darkorange" />
                </div>
            </div>
            <div>
                <h4 class="text-danger">@ViewBag.ErroreNumerico</h4>
                <h4 class="text-danger">@ViewBag.ErroreCarattereSpeciale</h4>
                <h4 class="text-danger">@ViewBag.ErroreletteraMaiuscola</h4>
            </div>
        </div>
        </div>
   
    </div>


}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
